@page
@model ScoreKeeper.Pages.AboutModel
@{
}

<section id="about-me" class="section-container">
    <figure>
        <img src="./images/selfie.jpg"/>
        <figcaption>scott falbo</figcaption>
    </figure>
    <article>
        I write code better than bios, coming soon...
    </article>
    <div id="contact">
        <ul>
            <li>
                <a href="https://www.scottfalbo.com" target="_blank">www.scottfalbo.com</a>
            </li>
            <li>
                <a href="mailto:scottfalboart@gmail.com">scottfalboart@gmail.com</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/scott-falbo/" target="_blank">
                    <img src="~/images/linkedIn-black.png" alt="linkedin"/>
                </a>
            </li>
            <li>
                <a href="https://github.com/scottfalbo" target="_blank">
                    <img src="~/images/github.png" alt="github"/>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/scottfalboart/" target="_blank">
                    <img src="~/images/instagram.png" alt="instagram" />
                </a>
            </li>
        </ul>
    </div>
    <div class="link-button">
        <a asp-page="/Index">Home</a>
    </div>
</section>