@page
@model ScoreKeeper.Pages.AboutModel
@{
}

<section id="about-me" class="section-container">
    <figure>
        <img src="https://via.placeholder.com/100"/>
        <figcaption>scott falbo</figcaption>
    </figure>
    <article>
        about me
    </article>
    <div id="contact">
        links and contact here
    </div>
    <div class="link-button">
        <a asp-page="/Index"><div>Home</div></a>
    </div>
</section>