@page
@model ScoreKeeper.Pages.AboutModel
@{
}

<section id="about-me" class="section-container">
    <figure>
        <img src="./images/selfie.jpg"/>
        <figcaption>scott falbo</figcaption>
    </figure>
    <article>
        Hello.  My name is Scott, I'm a software developer and artist in Seattle.

        I wrote this app because my partner and I play Rummy all of the time and there isn't always a sheet of paper around to keep score.  This not only solves that problem but also keeps track of each players over all wins.

        This is a .Net Core app written C# using Visual Studio and Deployed on Azure.  For more information please visit the README on the App's GitHub repository.

        Thanks for looking!
    </article>
    <div id="contact">
        <ul>
            <li>
                <a href="https://www.scottfalbo.com" target="_blank">www.scottfalbo.com</a>
            </li>
            <li>
                <a href="mailto:scottfalboart@gmail.com">scottfalboart@gmail.com</a>
            </li>
            <li>
                <a href="https://github.com/scottfalbo/score-keeper" target="_blank">App GitHub Repo</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/scott-falbo/" target="_blank">
                    <img src="~/images/linkedIn-black.png" alt="linkedin"/>
                </a>
            </li>
            <li>
                <a href="https://github.com/scottfalbo" target="_blank">
                    <img src="~/images/github.png" alt="github"/>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/scottfalboart/" target="_blank">
                    <img src="~/images/instagram.png" alt="instagram" />
                </a>
            </li>
        </ul>
    </div>
    <div class="link-button">
        <a asp-page="/Index">Home</a>
    </div>
</section>