@page
@model ScoreKeeper.Pages.AboutModel
@{
}

<section id="about-me">
    <figure>
        <img />
        <figcaption>scott falbo</figcaption>
    </figure>
    <article>
        about me
    </article>
    <div>
        links and contact here
    </div>
    <div>
        <a asp-page="/Index">Home</a>
    </div>
</section>