@page
@model IndexModel
@{
    ViewData["Title"] = "Score Keeper";
}

<section id="main-page-menu" class="section-container">
    <div>
        <p>
            Select a score keeper from the list below.
        </p>
    </div>
    <ul>
        <li>
            <div>
                <a asp-page="/Games/Rummy">Rummy</a>
            </div>
        </li>
        <li>
            <div>
                <a asp-page="/Instructions">Instructions</a>
            </div>
        </li>
        <li>
            <div>
                <a asp-page="/About">About</a>
            </div>
        </li>
    </ul>
</section>
