@page
@model IndexModel
@{
    ViewData["Title"] = "Score Keeper";
}

<section id="main-page-menu" class="section-container">
    <div>
        <p>
            Select an option from<br />the menu below.
        </p>
    </div>
    <ul>
        <li>
            <div class="link-button">
                <a asp-page="/Games/Rummy"><div>Rummy</div></a>
            </div>
        </li>
        <li>
            <div class="link-button">
                <a asp-page="/Instructions"><div>Instructions</div></a>
            </div>
        </li>
        <li>
            <div class="link-button">
                <a asp-page="/About"><div>About</div></a>
            </div>
        </li>
    </ul>
</section>
