@page
@model ScoreKeeper.Pages.InstructionsModel
@{
}

<section id="instruction-manual" class="section-container">
    <article>
        <h2></h2>
    </article>
    <div class="link-button">
        <a asp-page="/Index">Home</a>
    </div>
    <div class="link-button">
        <a asp-page="/Games/Rummy">Play</a>
    </div>
</section>