@page
@model ScoreKeeper.Pages.InstructionsModel
@{
}

<section id="instruction-manual" class="section-container">
    <section>
        how to use, will do when I have screen shots
    </section>
    <div class="link-button">
        <a asp-page="/Index"><div>Home</div></a>
    </div>
    <div class="link-button">
        <a asp-page="/Games/Rummy"><div>Play</div></a>
    </div>
</section>