@page
@model ScoreKeeper.Pages.InstructionsModel
@{
}

<section id="instruction-manual" class="section-container">
    <section>
        how to use, will do when I have screen shots
    </section>
    <div>
        <a asp-page="/Index">Home</a>
    </div>
    <div>
        <a asp-page="/Games/Rummy">Play</a>
    </div>
</section>