@page
@model ScoreKeeper.Pages.Games.RummyModel
@{
}

<section id="rummy-score-keeper" class="section-container">
    @await Component.InvokeAsync("PlayerNames")
    @await Component.InvokeAsync("RummyScore")

    <section id="rummy-score-input">
        <form asp-page-handler="AddScore" method="post">
            <div>
                <input type="text" asp-for="ScoreInput.PlayerOne" placeholder="score" required />
            </div>
            <div>
                <input type="text" asp-for="ScoreInput.PlayerTwo" placeholder="score" required />
            </div>
            <input type="hidden" asp-for="Rummy.Id" value="@Model.Rummy.Id" />
            <div>
                <input type="submit" value="➕" />
            </div>
        </form>
    </section>

    <partial name="Games/Rummy/_UI" />
</section>

@if (!Model.HideGameMenu)
{
    <partial name="Games/Rummy/_NewGame" />
}

@*@if (Model.GameOver.GameOver)
{*@
    <partial name="Games/Rummy/_GameOver" />
@*}*@
