@page
@model ScoreKeeper.Pages.Games.RummyModel
@{
}

<div>
    @await Component.InvokeAsync("PlayerNames")
</div>
<div>
    @await Component.InvokeAsync("RummyScore")
</div>
<div>
    <form asp-page-handler="AddScore" method="post">
        <input type="text" asp-for="ScoreInput.PlayerOne" placeholder="player one" required />
        <input type="text" asp-for="ScoreInput.PlayerTwo" placeholder="player two" required />
        <input type="hidden" asp-for="Rummy.Id" value="@Model.Rummy.Id" />
        <input type="submit" value="add round" />
    </form>
</div>
<div>controls</div>

@if(!Model.HideMainMenu)
{
    <partial name="Games/Rummy/_MainMenu" />
}

@if (!Model.HideGameMenu)
{
    <partial name="Games/Rummy/_NewGame" />
}

@if (Model.GameOver.GameOver)
{
    <partial name="Games/Rummy/_GameOver" />
}
