@page
@model ScoreKeeper.Pages.Games.RummyModel
@{
}

@await Component.InvokeAsync("PlayerNames")
@await Component.InvokeAsync("RummyScore")

<section class="rummy-score-input">
    <form asp-page-handler="AddScore" method="post" id="dev">
        <div>
            <input type="text" asp-for="ScoreInput.PlayerOne" placeholder="player one" required />
        </div>
        <div>
            <input type="text" asp-for="ScoreInput.PlayerTwo" placeholder="player two" required />
        </div>
        <input type="hidden" asp-for="Rummy.Id" value="@Model.Rummy.Id" />
        <div>
            <input type="submit" value="add round" />
        </div>
    </form>
</section>

<partial name="Games/Rummy/_UI" />

@if (!Model.HideGameMenu)
{
    <partial name="Games/Rummy/_NewGame" />
}

@if (Model.GameOver.GameOver)
{
    <partial name="Games/Rummy/_GameOver" />
}
