@model ScoreKeeper.Components.RummyScore.ViewModel


<div id="dev" class="temp-dev" onload="scrollToBottom()">
    <section class="scroll-me-dev">
        @foreach (var item in Model.PlayerOnePoints)
        {
            <p>@item.Score.Points</p>
        }
    </section>
    <section class="scroll-me-dev">
        @foreach (var item in Model.PlayerTwoPoints)
        {
            <p>@item.Score.Points</p>
        }
    </section>
</div>

