@model ScoreKeeper.Components.RummyScore.ViewModel


<section id="rummy-score-sheet">
    <div>
        @foreach (var item in Model.PlayerOnePoints)
        {
            <p>@item.Score.Points</p>
        }
    </div>
    <div>
        @foreach (var item in Model.PlayerTwoPoints)
        {
            <p>@item.Score.Points</p>
        }
    </div>
</section>

