* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin: auto;
    margin-bottom: 60px;
    background-image: url("../images/paper-backer.jpg");
    background-size: cover;
}

@media (min-width: 540px) {
    body {
        width: 540px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
