* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin: auto;
    margin-bottom: 60px;
    background-image: url("../images/paper-backer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1.2em;
    min-width: 340px;
}

@media (min-width: 576px) {
    body {
        width: 576px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 30px; /* Vertically center the text there */
}
