/* ------------------ Homepage*/


#main-page-menu > div:first-child {
    width: 90%;
    margin: 40px auto;
}

#main-page-menu > ul {
    width: 95%;
    margin: auto;
}

    #main-page-menu > ul > li {
        width: 70%;
        margin: 25px auto;
    }

    #main-page-menu .link-button {
        width: 100%;
        margin: auto;
    }

/* ------------------ Footer */

footer {
    max-width: 540px;
    height: 60px;
}

footer ul {
    width: 90%;
    margin: 20px auto;
}

    footer ul > li {
        display: inline-block;
        margin: auto;
        text-align: center;
        float: right;
    }

/* ---------------- Instructions */

#instruction-manual > section {
    width: 90%;
    margin: 40px auto;
}

#instruction-manual > div {
    width: 70%;
    margin: 25px auto;
}

/*----------------------About */

#about-me figure {
    width: 60%;
    margin: 10px auto;
    text-align: center;
}

    #about-me figure img {
        margin: 10px auto;
    }

    #about-me figure figcaption {
        margin: 10px auto;
    }

#contact {
    width: 90%;
    margin: 20px auto;
}

#about-me div:last-child {
    width: 70%;
    margin: 20px auto;
}

/* ------------------- Rummy Score*/

#rummy-score-keeper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 1fr 60px 70px;
}

    #player-names {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px 50px;
    }

        #player-names div:first-child {
            grid-column: 1/2;
            grid-row: 1/2;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
        }

            #player-names div:first-child h2 {
                grid-column: 1/2;
                grid-row: 1/2;
            }

            #player-names div:first-child p {
                grid-column: 2/3;
                grid-row: 1/2;
            }

        #player-names div:last-child {
            grid-column: 1/2;
            grid-row: 2/3;
            display: grid;
            grid-template-columns: 1fr 40px 1fr 40px;
            grid-template-rows: 100%;
        }

            #player-names div:last-child p:first-child {
                grid-column: 1/2;
                grid-row: 1/2;
                width: 100%;
            }

            #player-names div:last-child p:nth-child(3) {
                grid-column: 3/4;
                grid-row: 1/2;
                width: 100%;
            }

            #player-names div:last-child span:nth-child(2) {
                grid-column: 2/3;
                grid-row: 1/2;
                width: 100%;
            }

            #player-names div:last-child span:nth-child(4) {
                grid-column: 4/5;
                grid-row: 1/2;
                width: 100%;
            }

    #rummy-score-sheet {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }

        #rummy-score-sheet div:first-child {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        #rummy-score-sheet div:last-child {
            grid-column: 2/3;
            grid-row: 1/2;
        }

    #rummy-score-input {
        grid-column: 1/2;
        grid-row: 3/4;
    }

        #rummy-score-input > form {
            display: grid;
            grid-template-columns: 40% 40% 20%;
            grid-template-rows: 100%;
        }

            #rummy-score-input > form div:first-child {
                grid-column: 1/2;
                grid-row: 1/2;
            }

            #rummy-score-input > form div:nth-child(2) {
                grid-column: 2/3;
                grid-row: 1/2;
            }

            #rummy-score-input > form div:nth-child(4) {
                grid-column: 3/4;
                grid-row: 1/2;
            }

            #rummy-score-input input {
                width: 100px;
            }

        #rummy-ui {
            grid-column: 1/2;
            grid-row: 4/5;
        }

            #rummy-ui ul {
                width: 90%;
                margin: 20px auto;
                display: flex;

            }

                #rummy-ui ul li {
                    margin: auto;
                    display: inline-block;
                }

/* -------------------New Game Menu*/

#rummy-new-game > div  h2 {
    width: 60%;
    margin: 30px auto;
}

#rummy-new-game > div p {
    width: 80%;
    margin: 20px auto;
}

#rummy-new-game > div > form {
    width: 70%;
    margin: 40px auto;
}

    #rummy-new-game > div > form div {
        margin: 30px auto;
    }

#rummy-new-game > div > div:last-child {
    width: 60%;
    margin: 20px auto;
}

/* ------------------- Game Over Menu*/

#rummy-game-over > div h2 {
    width: 60%;
    margin: 30px auto;
}

#rummy-game-over > div table {
    width: 80%;
    margin: 20px auto;
}

#rummy-game-over > div div:nth-child(3) {
    width: 70%;
    margin: 40px auto;
}

#rummy-game-over > div div:last-child {
    width: 60%;
    margin: 20px auto;
}

    #rummy-game-over > div div:last-child form {
        width: 60%;
        margin: 20px auto;
    }

    #rummy-game-over > div div:last-child > div {
        width: 60%;
        margin: 20px auto;
    }

/* -------------------- Shared */

.section-container {
    width: 90%;
    margin: auto;
}

.menu-block-out {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    height: 100%;
    z-index: 100;
}

.menu-block-out > div {
    width: 80%;
    height: 80%;
    margin: 10% auto;
}