@model ScoreKeeper.Pages.Games.RummyModel

<div>
    <div>
        <h2>Rummy Score Keeper</h2>
        <form asp-page-handler="NewGameMenu" method="post">
            <input type="submit" value="New Game" />
        </form>
        <div>
            Continue Game
        </div>
    </div>
</div>
