@model ScoreKeeper.Pages.Games.RummyModel

<div>
    <div>
        <h2>Rummy Score Keeper</h2>
        <form asp-page-handler="NewGameMenu" method="post">
            <input type="submit" value="New Game" />
        </form>
        <form asp-page-handler="LoadSaved" method="post">
            <input type="text" asp-for="GameData.SaveAs" placeholder="enter save name" required/>
            <input type="submit" value="Load Game" />
        </form>
    </div>
</div>
