@model ScoreKeeper.Pages.Games.RummyModel

<section id="rummy-new-game" class="menu-block-out">
    <div>
        <h2>New Game</h2>
        <p>enter your names:</p>
        <form asp-page-handler="NewGame" method="post">
            <div>
                <input type="text" asp-for="GameData.PlayerOne" placeholder="player one" required />
            </div>
            <div>
                <input type="text" asp-for="GameData.PlayerTwo" placeholder="player two" required />
            </div>
            <p>enter score to play up to:</p>
            <div>
                <input type="text" asp-for="GameData.Limit" placeholder="play to" required />
            </div>
            <div>
                <input class="link-button" type="submit" value="start game" />
            </div>
        </form>
        <div>
            <form asp-page-handler="Cancel" method="post">
                <input class="link-button" type="submit" value="cancel" />
            </form>
        </div>
    </div>
</section>