@model ScoreKeeper.Pages.Games.RummyModel

<section id="rummy-new-game" class="menu-block-out">
    <div>
        <h2>New Game</h2>
        <p>enter your name</p>
        <form asp-page-handler="NewGame" method="post">
            <div>
                <input type="text" asp-for="GameData.PlayerOne" placeholder="player one" required />
            </div>
            <div>
                <input type="text" asp-for="GameData.PlayerTwo" placeholder="player two" required />
            </div>
            <div>
                <input type="text" asp-for="GameData.Limit" placeholder="" required />
            </div>
            <div>
                <input type="submit" value="start game" />
            </div>
        </form>
    </div>
</section>