@model ScoreKeeper.Pages.Games.RummyModel


<section id="rummy-ui">
    <ul>
        <li>
            <form asp-page-handler="New" method="post">
                <input type="submit" value="new game" class="link-button"/>
            </form>
        </li>
        <li>
            <form asp-page-handler="Reset" method="post">
                <input type="submit" value="reset" class="link-button"/>
            </form>
        </li>
        <li>
            <div class="link-button">
                <a asp-page="/Index">
                    <div>quit</div>
                </a>
            </div>
        </li>
    </ul>
</section>
